body{
    background-color: gray;
    color: antiquewhite;
}
h1{
    text-align: justify;
    font-size: 60px;
    font-family: monospace;
}
#div1{
    column-width: 80px;
    column-count: 3;
    column-gap: 5px;
}
figure{
    float: right;
}
.para{
    clear: left;
}
#div2{
    color: aquamarine;
    font-size: 15px;
}
.slideshow {
    margin: auto;
    width: 60%;
}
.slideshow img{
    width: 100%;
    height: 100%;
}